:80 {

  respond /healthz 200


  handle_path /openai* {
    reverse_proxy {$AZURE_OPENAI_ENDPOINT} {
      header_up Host {$AZURE_OPENAI_HOST}
      header_up X-Forwarded-Proto https
      transport http {
        tls_server_name {$AZURE_OPENAI_HOST}
        read_timeout 10m
        write_timeout 10m
        versions h2 h1.1
      }
    }
  }
  handle_path /document-intelligence* {
    reverse_proxy {$AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT} {
      header_up Host {$AZURE_DOCUMENT_INTELLIGENCE_HOST}
      header_up X-Forwarded-Proto https
      transport http {
        tls_server_name {$AZURE_DOCUMENT_INTELLIGENCE_HOST}
        read_timeout 10m
        write_timeout 10m
        versions h2 h1.1
      }
    }
  }

  # Azure Cognitive Search
  handle_path /search* {
    reverse_proxy {$AZURE_SEARCH_ENDPOINT} {
      header_up Host {$AZURE_SEARCH_HOST}
      header_up X-Forwarded-Proto https
      transport http {
        tls_server_name {$AZURE_SEARCH_HOST}
        read_timeout 10m
        write_timeout 10m
        versions h2 h1.1
      }
    }
  }

  # Cosmos DB (Gateway mode only; SDK must be set to Gateway)
  handle_path /cosmos* {
    reverse_proxy {$AZURE_COSMOS_ENDPOINT} {
      header_up Host {$AZURE_COSMOS_HOST}
      header_up X-Forwarded-Proto https
      transport http {
        tls_server_name {$AZURE_COSMOS_HOST}
        read_timeout 10m
        write_timeout 10m
        versions h2 h1.1
      }
    }
  }

}
